* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica", Arial, sans-serif;
}

body {
    background-color: #FFFFF0;
}

.container{
    margin-top: 20px;
    margin-bottom: 40px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFF0;
}

hr.solid{
    border-top: 5px solid #00ccff;
    margin-bottom: 10px;
}

hr.thin-line{
    border-top: 1px solid #00ccff;
}

hr.menu-thin-line{
    border-top: 1px solid #00ccff;
    margin-left: 5px;
}

.section-title{
    color: #4d4d4b;
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    .container{
        width: 90%;
    }   
}