.beer-item{
    max-width:400px;
    word-wrap: break-word;
}
.beer-container{
    display:flex;
    justify-content: space-between;
    max-width:400px;
    line-height: 2;
    margin-top: 5px;
    margin-bottom: 5px
}

.beer-item > p{
    margin-bottom: 5px;
}

.beer-container > h4{
    color: #00ccff;
}

#beer-price{
    color: black;
}