.beer-item{
    max-width:600px;
    word-wrap: break-word;
}
.beer-container{
    display:flex;
    justify-content: space-between;
    width:100%;
    line-height: 2;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.beer-item > p{
    margin-bottom: 5px;
    margin-left: 5px;
    line-height: 1.2;
}

.beer-container > h4{
    color: #009fd4;
    font-size: 18.66px;
    line-height: 1;
}

.beer-price{
    color: #2b2b2b;
    font-size: 18.66px;
}

.beer-stats{
    font-weight: 600;
}
