.game-item > li{
    font-size: 16px;
}

.game-item{
    background: #2b2b2b;
    color: #009fd4;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 26px;
    height: 26px;
    list-style: none;
}

.game-item:hover{
    color: white;
}