.home {
    background: url("images/Nintendo.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.name-container{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    gap: 20px;
 
}

.name-container > h1{
    color:white;
    font-size: 50px;
}

.name-container > p{
    color: white;
    font-size: 25px;
}