.home{
    position: relative;
}

#home-picture{
    width: 100%;
    padding:0;
    vertical-align: middle;
}


.name-container{
    position: absolute;
    width: 100%;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
 
}

.name-container > h1{
    color:white;
    font-size: 8vw;
}

.name-container > p{
    color: white;
    font-size: 1.6vw;
}

@media only screen and (max-width: 500px) {

    .name-container {
        top: 7%;
    }

    .name-container > p{
        color: white;
        font-size: 3.5vw;
    } 
}