.menu-item{
    max-width:600px;
    word-wrap: break-word;
}

.item-container{
    display:flex;
    justify-content: space-between;
    width:100%;
    line-height: 2;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.menu-item > p{
    margin-bottom: 5px;
    margin-left: 5px;
    line-height: 1.2;
}

.item-container > h4{
    color: #00ccff;
}

#item-price{
    color: #00ccff;
}

