.menu-tabs{
    display:flex;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 50px;
    line-height: 1.2;
    color: #4d4d4b;

}

.menu-contents{
    color:#4d4d4b;
}

.menu-content{
    display:none;
}

.menu-heading{
    cursor: pointer;
    padding: 5px;
}

.active-menu-heading{
    color: #00ccff;
    background: #4d4d4b;
    padding: 5px;
}

.active-menu-content{
    display:block;
}

