.menu-tabs{
    display:flex;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 50px;
    line-height: 1.2;
    color: #2b2b2b;

}

.menu-contents{
    color:#2b2b2b;
}

.menu-content{
    display:none;
}

.menu-heading{
    cursor: pointer;
    padding: 5px;
}

.active-menu-heading{
    color: #009fd4;
    background: #2b2b2b;
    padding: 5px;
}

.active-menu-content{
    display:block;
}

