.nav-bar{
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
}

#nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    height: 50px;
    background-color: #00ccff;
    color: white;
}
